{% load static %}
<div class="card mb-3 w-100">
      <div class="row g-0">
        <div class="col-3 p-2">
            <div class=" w-100 mb-3" style="height:100px"  >
          <img src="{% static 'img/img.jpg' %}" class="img-fluid rounded-start h-100 w-100" />
            </div>
            <div class="input-group flex-nowrap">
              <input type="number" class="form-control" value="5">
            </div>
          </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'question' item.id %}">{{item.title}}</a>
            </h5>
            <p class="card-text">
                {{item.text}}
            </p>
            <div class="row">
                    <div class="col-8">
                        <span>Tags</span>
                        <a href="/tag">tag</a>
                        <a href="/tag">tag</a>
                        <a href="/tag">tag</a>
                        <a href="/tag">tag</a>
                        <a href="/tag">tag</a>
                        <a href="/tag">tag</a>
                    </div>

          </div>
        </div>
      </div>
    </div>
  </div>