{% extends "layouts/register.html" %}
<div class="d-flex gap-3 align-items-center mt-3">
    <h1>New Question</h1>
</div>
{% block content %}

          <div class="col-8 ">
              <div class="d-flex align-items-center" style="gap: 20px">
                  Title
                  <div class="form-floating w-100">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea">How to build a moon park?</textarea>
                    <label for="floatingTextarea">Title of your question</label>
                    </div>
              </div>
              <div class = "mt-3 d-flex" style="gap: 20px">
                  Text
                  <div class="form-floating w-100">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 340px">Really, how?
Have no idea about it
                  </textarea>
                      <label for="floatingTextarea">input text</label>
                </div>
              </div>
              <div class="mt-3 d-flex align-items-center"style="gap: 20px">
                  Tags
                  <div class="form-floating w-100">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3">moon, park, puzzle</textarea>
                  <label for="floatingTextarea">key words</label>
                </div>
              </div>
              <button class="btn btn-outline-success mt-4" style="margin-left: 55px; width: 100px" type="submit">Ask!</button>
          </div>
{% endblock %}