{% extends "layouts/base.html"%}
{% load static %}

{% block content %}
             <div class="d-flex gap-3 align-items-center mt-3">
                <h1>New Question</h1>
                <a href="/hot">Hot Questions</a>
            </div>

              <div class="col-8">
                  {% for question in questions%}
                    {% include "layouts/question.html" with item=question %}
                  {% endfor %}
            {%include "layouts/pagin.html" with page_obj=questions paginator=pagin%}
      </div>
{% endblock %}