{% extends "layouts/base.html"%}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
        <div class="col-8">

            {% include "layouts/question.html" with item=question%}
            <hr>
            {% for answer in answers%}
                {% include "layouts/answer.html" with item=answer%}
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                  {% bootstrap_form form %}
                <button class="btn btn-outline-success mt-4 mb-3" type="submit" style="width: 100px; margin-bottom: 100px">Answer</button>
            </form>
            {%include "layouts/pagin.html" with page_obj=answers%}
        </div>
{% endblock %}
