{% extends "layouts/base.html"%}
{% load static %}

{% block content %}
        <div class="col-8">

            {% include "layouts/question.html" with item=question%}
            <hr>
            {% for answer in answers%}
                {% include "layouts/answer.html" with item=answer%}
            {% endfor %}
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2">Enter your answer here.</label>
            </div>
            <button class="btn btn-outline-success mt-4 mb-3" type="submit" style="width: 100px; margin-bottom: 100px">Answer</button>
            {%include "layouts/pagin.html" with page_obj=questions paginator=pagin%}
        </div>
{% endblock %}
